.card{
  background: white;
  border: 5px solid black;
  height: 20rem;
  margin: 1rem;
  width: 20rem;
  padding-top: 2rem;
}

.card > .img-container{
  margin: 1rem;
  height: 75%;
  overflow: hidden;
  text-align: center;
  text-emphasis: none;
  background: black;
}
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }