.card{
  background: white;
  border: 2px solid black;
  height: 17rem;
  margin: 1rem;
  width: 15rem;
  padding-top: 1rem;
}

.card > .img-container{
  margin: 1rem;
  height: 100%;
  overflow: hidden;
  text-align: center;
  text-emphasis: none;
 
}
  .card > .img-container > img {
    width: 70%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }